*{
    margin: 0;
    padding: 0;
}

table{
    display: flex;
    justify-content: center;
    width: 220px;
    
}

div{
    border: solid rgb(180, 180, 180) 5px;
    border-radius: 10px;
    margin-top: 25px;
}

button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 80%;
    
}

#tela{
    margin: 10px 8px;
    background-color: #252424;
    border-radius: 5px;
    height: 40px;
    text-align: end;
    color: white;
    padding-right: 5px;
}

.elemento_tabela_numero button{
    background-color: #252424;
    color:#ffffffc0;
}

.elemento_tabela_cinza button{
    background-color: rgb(180, 180, 180);
    color:#ffffffc0;
}

.elemento_tabela_cinza button{
    background-color: orange;
    color: #ffffffc0;
}

body{
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Disposição vertical dos elementos */
    align-items: center;
}

body h1{
    margin-top: 25px;

}

.botaozão{
    width: 102px;
    border-radius: 40px;
}